In [1]:
import os
import sys
import tqdm
import pandas as pd

In [2]:
REBADD_LIB_PATH = os.path.abspath(os.pardir)
if REBADD_LIB_PATH not in sys.path:
    sys.path = [REBADD_LIB_PATH] + sys.path

from rebadd.evaluate import evaluate_sr_nov_div

In [3]:
## Test data (navitoclax, ABT-737)
filepath_ref = os.path.join(os.pardir, 'data', 'zinc15', 'zinc15_test.txt')
df_ref = pd.read_csv(filepath_ref, header=None)

referece_smiles_iter = df_ref.iloc[:,0].values.tolist()

print(len(referece_smiles_iter))

2

In [4]:
input_dir = 'baseline'

modelnames = [
    'JTVAE',
    'MARS',
    'MolGPT',
    'RationaleRL',
    'ReLeaSE',
]

filenames = [f'smi_after.csv.{num}' for num in range(10)]

In [5]:
frames = []

for modelname in modelnames:
    
    for filename in filenames:
        
        filepath = os.path.join(input_dir, modelname, filename)
        
        df = pd.read_csv(filepath)
        
        df = df.loc[:,('smiles', 'bcl2', 'bclxl', 'bclw')]
        df.loc[:,'model'] = modelname
        df.loc[:,'checkpoint'] = filename.split('.')[-1]
        
        frames.append(df)

In [6]:
data = []

for df in tqdm.tqdm(frames):

    s_sr, s_nov, s_div = evaluate_sr_nov_div(df, referece_smiles_iter, 'bcl2_bclxl_bclw')
    
    data.append({'SR':s_sr, 'Nov':s_nov, 'Div':s_div, 'Model':df.loc[0,'model'], 'Ckpt':df.loc[0,'checkpoint']})

100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 50/50 [00:58<00:00,  1.18s/it]

In [7]:
df_records = pd.DataFrame(data)
df_records.loc[:,'HMean'] = (df_records.loc[:,'SR'] * df_records.loc[:,'Nov'] * df_records.loc[:,'Div']) ** 0.333

df_records

          SR  Nov       Div        Model Ckpt     HMean
0   0.000200  1.0  0.000000        JTVAE    0  0.000000
1   0.000600  1.0  0.000000        JTVAE    1  0.000000
2   0.000200  1.0  0.000000        JTVAE    2  0.000000
3   0.000400  1.0  0.000000        JTVAE    3  0.000000
4   0.000000  0.0  0.000000        JTVAE    4  0.000000
5   0.000600  1.0  0.000000        JTVAE    5  0.000000
6   0.000400  1.0  0.000000        JTVAE    6  0.000000
7   0.000200  1.0  0.000000        JTVAE    7  0.000000
8   0.000400  1.0  0.000000        JTVAE    8  0.000000
9   0.000400  1.0  0.000000        JTVAE    9  0.000000
10  0.116600  1.0  0.908369         MARS    0  0.473491
11  0.121000  1.0  0.907877         MARS    1  0.479281
12  0.116600  1.0  0.907693         MARS    2  0.473374
13  0.126000  1.0  0.908302         MARS    3  0.485863
14  0.119600  1.0  0.907571         MARS    4  0.477374
15  0.119200  1.0  0.907488         MARS    5  0.476827
16  0.122200  1.0  0.907641         MARS    6  0.480817
17  0.124200  1.0  0.907914         MARS    7  0.483472
18  0.121400  1.0  0.907699         MARS    8  0.479777
19  0.125200  1.0  0.907600         MARS    9  0.484709
20  0.000620  1.0  0.897350       MolGPT    0  0.082445
21  0.000622  1.0  0.917528       MolGPT    1  0.083132
22  0.000825  1.0  0.876760       MolGPT    2  0.089979
23  0.000207  1.0  0.000000       MolGPT    3  0.000000
24  0.000619  1.0  0.718541       MolGPT    4  0.076548
25  0.000620  1.0  0.876760       MolGPT    5  0.081805
26  0.000414  1.0  0.900000       MolGPT    6  0.072138
27  0.000207  1.0  0.000000       MolGPT    7  0.000000
28  0.001034  1.0  0.889496       MolGPT    8  0.097474
29  0.000207  1.0  0.000000       MolGPT    9  0.000000
30  0.334867  1.0  0.830942  RationaleRL    0  0.653130
31  0.347800  1.0  0.829387  RationaleRL    1  0.661011
32  0.342800  1.0  0.830971  RationaleRL    2  0.658250
33  0.348600  1.0  0.830974  RationaleRL    3  0.661938
34  0.341600  1.0  0.830798  RationaleRL    4  0.657436
35  0.334600  1.0  0.831035  RationaleRL    5  0.652981
36  0.343200  1.0  0.829867  RationaleRL    6  0.658214
37  0.349670  1.0  0.832329  RationaleRL    7  0.662974
38  0.343400  1.0  0.831319  RationaleRL    8  0.658725
39  0.339800  1.0  0.831834  RationaleRL    9  0.656553
40  0.000415  1.0  0.655738      ReLeaSE    0  0.065004
41  0.000208  1.0  0.000000      ReLeaSE    1  0.000000
42  0.000417  1.0  0.346667      ReLeaSE    2  0.052635
43  0.000000  0.0  0.000000      ReLeaSE    3  0.000000
44  0.000209  1.0  0.000000      ReLeaSE    4  0.000000
45  0.000000  0.0  0.000000      ReLeaSE    5  0.000000
46  0.000000  0.0  0.000000      ReLeaSE    6  0.000000
47  0.000624  1.0  0.441845      ReLeaSE    7  0.065267
48  0.000209  1.0  0.000000      ReLeaSE    8  0.000000
49  0.000209  1.0  0.000000      ReLeaSE    9  0.000000

In [8]:
df_records.groupby('Model').mean(numeric_only=True)

                   SR  Nov       Div     HMean
Model
JTVAE        0.000340  0.9  0.000000  0.000000
MARS         0.121200  1.0  0.907815  0.479499
MolGPT       0.000537  1.0  0.607643  0.058352
RationaleRL  0.342634  1.0  0.830946  0.658121
ReLeaSE      0.000229  0.7  0.144425  0.018291

In [9]:
df_records.groupby('Model').std(numeric_only=True)

                   SR       Nov       Div     HMean
Model
JTVAE        0.000190  0.316228  0.000000  0.000000
MARS         0.003300  0.000000  0.000303  0.004353
MolGPT       0.000279  0.000000  0.422914  0.040840
RationaleRL  0.005235  0.000000  0.000848  0.003352
ReLeaSE      0.000207  0.483046  0.244225  0.029646